<div class="row mt-5">
    <div class="col">
        <h4>Formularios <small>data</small></h4>
        <hr>
        <form [formGroup]="forma" (ngSubmit)="guardar()">

            <div>

                <div class="form-group row mt-3">
                    <label class="col-2 col-form-label">Nombre</label>
                    <div class="col-10">
                        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreEsValido">
                        <span class="text-danger" *ngIf="nombreEsValido">Ingrese el nombre</span>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label class="col-2 col-form-label">Apellido</label>
                    <div class="col-10">
                        <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="apellidoEsValido">
                        <span class="text-danger" *ngIf="apellidoEsValido">Ingrese el apellido</span>
                    </div>
                </div>

            </div>

            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Correo</label>
                <div class="col-10">
                    <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoEsValido">
                    <span class="text-danger" *ngIf="correoEsValido">Ingrese el correo</span>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Usuario</label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Usuario" formControlName="usuario" [class.is-invalid]="usuarioEsValido">
                    <span class="text-danger" *ngIf="usuarioEsValido">Ingrese el usuario</span>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Password</label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Password" formControlName="pass1" [class.is-invalid]="pass1EsValido">
                    <span class="text-danger" *ngIf="pass1EsValido">Ingrese el password</span>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label class="col-2 col-form-label">Repita Password</label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Password 2" formControlName="pass2" [class.is-invalid]="pass2EsValido">
                    <span class="text-danger" *ngIf="pass2EsValido">Ingrese la contraseña</span>
                </div>
            </div>

            <div class="row mt-3">
                <label class="col-2">Direccion</label>
                <div class="col" formGroupName="direccion">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Estado" formControlName="estado" [class.is-invalid]="estadoEsValido">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Municipio" formControlName="municipio" [class.is-invalid]="municipioEsValido">
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="direccionEsValido">Ingrese correctamente la direccion</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Pasatiempo</td>
                                <td>Borrar</td>
                            </tr>
                        </thead>
                        <tbody formArrayName="pasatiempos">
                            <tr *ngFor="let pasatiempo of pasatiempos.controls; let i=index">
                                <th>{{i + 1}}</th>
                                <th><input type="text" [formControlName]="i" class="form-control"></th>
                                <th><button type="button" (click)="borrarPasatiempo(i)" class="btn btn-danger">Borrar</button></th>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary w-100" (click)="agregarPasatiempos()" type="button">Agregar</button>
                </div>
            </div>



            <div class="row justify-content-center mt-4 ">
                <div class="col-6 ">
                    <button type="submit " class="btn btn-outline-primary w-100 ">
                        Guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="row mt-5 ">
    <div class="col ">
        <pre>
            Estado del formulario: {{forma.valid}}
            <hr>
            Status: {{forma.status}}
        </pre>
        <pre>
            {{forma.value | json}}
        </pre>
    </div>
</div>